@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 51.76 100% 50%;
    --foreground: 0 0% 0%;
    --card: 51.76 100% 50%;
    --card-foreground: 0 0% 0%;
    --popover: 51.76 100% 50%;
    --popover-foreground: 0 0% 0%;
    --primary: 273.88 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 51.76 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 94.12%;
    --muted-foreground: 0 0% 30%;
    --accent: 216 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;
    --chart-1: 0 100% 60%;
    --chart-2: 60 100% 50%;
    --chart-3: 216 100% 50%;
    --chart-4: 120 100% 40%;
    --chart-5: 300 100% 40%;
    --sidebar: 0 0% 94.12%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 100% 50%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 0 100% 60%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0px;
    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.5);
    --shadow-sm:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
    --shadow:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 1px 2px -1px hsl(0 0% 0% / 1);
    --shadow-md:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 2px 4px -1px hsl(0 0% 0% / 1);
    --shadow-lg:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 4px 6px -1px hsl(0 0% 0% / 1);
    --shadow-xl:
      4px 4px 0px 0px hsl(0 0% 0% / 1), 4px 8px 10px -1px hsl(0 0% 0% / 1);
    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.5);
  }
}

@font-face {
  font-family: "Berkeley Mono";
  font-display: swap;
  src: url("../assets/fonts/BerkeleyMonoTrial-Regular.otf");
}

@layer base {
  * {
    @apply border-border;
    @apply font-mono;
    @apply !uppercase;
  }
  body {
    @apply bg-background text-foreground;
  }
}
